/* Body Style */

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%; 
  clear: both; 
  box-sizing: border-box; 
  font-family: 'Josefin Sans', sans-serif;
  }

p {
  color: black;
  font-size: 1em;
  padding: .15em;
}

h2, h3, h4, h5, h6 {
  font-family: 'Rochester', cursive;
  color: dodgerblue;
  font-size: 1.5em; 
  padding: .15em; 
  } 

/* Begin Header Styling */

header {
  display: flex;
  height: 13em; 
  font-family: 'Josefin Sans', sans-serif;
}

header img { 
  margin: 1em 1em 0 1em; 
  float: left; 
}

.logo {
  width: 60px;
}

/* Begin Site Naviation Styling */

 .topnav {
  display: flex; 
  justify-content: space-around; 
  width: 100%; 
  background-color: #A4A4A4;
  font-size: 1.25rem;   
}  


ul.site-nav li {
  display: inline-block; 
  text-align: center;
  padding-left: 5em;
  padding-right: 5em; 
  padding-top: .75em; 
  padding-bottom: .5em; 
  list-style-type: none; 
  color: black;  
  font-weight: 600; 
  font-size: 1.5em;
} 


ul.site-nav li a {  
  color: black;
}

ul.site-nav li a:hover{
  color: white;
  text-decoration: underline;
} 


/* Header 1 Styling */
.name {
  color: dodgerblue; 
  font-size: 3em; 
  max-width: 10em; 
  padding-top: .5em;
  font-weight: 600; 
  }

section { 
  padding: .25em .75em 4.5em; 
}

.container {
  clear: both; 
  margin: 0 1em; 
  float: left; 
}

/* Start Aside Styling */

aside { 
  font-family: 'Josefin Sans', sans-serif; 
  padding: 2em; 
  float: left; 
}

.sort {
  background-color: white;
  height: 2rem;
  font-family: 'Josefin Sans', sans-serif;
  padding: 0; 
}

.form-control {
}

button[type=submit] {
  background-color: #A4A4A4; 
  color: black; 
  font-weight: 600; 
  border: .1rem solid black; 
  font-family: 'Josefin Sans', sans-serif;
}

.filter-lable {
  font-size: 1.5em; 
  font-weight: 600; 
  align-content: space-between; 
}

/* Start Item Styling */
 .item-container {
  display:  flex; 
  flex-wrap: wrap; 
}

.item { 
  margin: 1em; 
  padding: 1em; 
}

/*
.thumbnail {
    position: relative;
    padding: 0px;
    max-width: 80%;
    margin-bottom: 20px;
} */

.item-header {
  color: dodgerblue;
  font-size: 1.5em; 
  font-weight: 300;
  text-decoration: underline; 
  padding-left: 0.5em;  
}

.item-title {
  color: dodgerblue;
  font-size: 1.25em; 
  font-weight: 300;
}


